.navbar{
    background-color: rgb(121, 168, 204);
}

.quem-somos{
    background-color:rgb(205, 230, 248);
}

.margin{
    padding-top: 50px;
    padding-bottom: 70px;
}

.servicos{
    background-color: rgb(205, 230, 248);
}

.parceiros{
    background-color: rgb(205, 230, 248);
}

.contato{
    background-color: rgb(205, 230, 248);
}
.bg-footer{
    background-color:  rgb(205, 230, 248);
    color: black;
}