.navbar{
    background-color: rgb(100, 169, 230);
}

.quem-somos{
    background-color:rgb(176, 210, 245);
}

.margin{
    padding-top: 50px;
    padding-bottom: 70px;
}

.servicos{
    background-color: rgb(176, 210, 245);
}

.parceiros{
    background-color: rgb(231, 232, 233);
}

.contato{
    background-color: rgb(231, 232, 233);
}
.bg-footer{
    background-color:  rgb(231, 232, 233);
    color: black;
}